In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
%matplotlib inline

In [24]:
plt.show

5 reading in files with pandas

In [25]:
##Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. 
##Take a look at the first 6 rows.##
##Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. 
##Take a look at the first 6 rows.##
gdp_df=pd.read_csv('Data/gdp_percapita.csv')
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN

In [10]:
print(df)

NameError: name 'df' is not defined

In [66]:
internet_df=pd.read_csv('Data/internet_use.csv',nrows = 4496)
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [35]:
rows = len(df.gdp[0]) 
cols = len(df.gdp[1])

NameError: name 'df' is not defined

In [36]:
gdp_df.shape

(6731, 4)

In [68]:
internet_df.shape

(4496, 4)

In [69]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6731 entries, 0 to 6730
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6731 non-null   object
 1   Year             6731 non-null   object
 2   Value            6729 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), object(2)
memory usage: 210.5+ KB

In [37]:
type(gdp_df)

pandas.core.frame.DataFrame

In [71]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6721,Zimbabwe,1997,3036.422224,NaN
6722,Zimbabwe,1996,2985.856605,NaN
6723,Zimbabwe,1995,2736.486436,NaN
6724,Zimbabwe,1994,2768.309953,NaN
6725,Zimbabwe,1993,2572.870395,NaN
6726,Zimbabwe,1992,2591.007534,NaN
6727,Zimbabwe,1991,2906.272849,NaN
6728,Zimbabwe,1990,2819.549467,NaN
6729,footnoteSeqID,Footnote,NaN,NaN
6730,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [42]:

gdp_limit=gdp_df.drop(columns=['Value Footnotes'])
gdp_limit.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [ ]:
internet_df

In [50]:
internet_limit=internet_df.drop(columns=['Value Footnotes'])
internet_limit.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [72]:
gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']
gdp_df.head()

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements

In [73]:
gdp = gdp_df_drop.rename(columns = {'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_Per_Capita'})
gdp.head()

NameError: name 'gdp_df_drop' is not defined

In [2]:
gdp_and_internet_use = pd.merge(int_limit, gdp_limit)
gdp_and_internet_use

NameError: name 'pd' is not defined

In [34]:
gdp_and_internet_use
gdp_limit=gdp_df.drop(columns=['Value Footnotes'])
gdp_limit.columns

NameError: name 'gdp_and_internet_use' is not defined

In [47]:
gdp_limit.columns=['Country', 'Year', 'GDP_Per_Capita']
gdp_limit.head(5)

       Country  Year  GDP_Per_Capita
0  Afghanistan  2018     1734.723214
1  Afghanistan  2017     1758.465636
2  Afghanistan  2016     1757.023490
3  Afghanistan  2015     1766.593077
4  Afghanistan  2014     1795.735834

In [51]:
internet_limit.columns=['Country', 'Year', 'internet_Per_Capita']
internet_limit.head(5)

       Country  Year  internet_Per_Capita
0  Afghanistan  2014             6.390000
1  Afghanistan  2013             5.900000
2  Afghanistan  2012             5.454545
3  Afghanistan  2011             5.000000
4  Afghanistan  2010             4.000000

In [44]:
%who

gdp_df	 gdp_limit	 internet_df	 np	 pd	 plt	 sns

In [56]:
gdp_and_internet_use = pd.merge(internet_limit, gdp_limit, on=['Country', 'Year'], how='outer')
gdp_and_internet_use

,Country,Year,internet_Per_Capita,GDP_Per_Capita
0,Afghanistan,2014,6.390000,1795.735834
1,Afghanistan,2013,5.900000,1807.762344
2,Afghanistan,2012,5.454545,1772.764974
3,Afghanistan,2011,5.000000,1626.764793
4,Afghanistan,2010,4.000000,1671.581238
...,...,...,...,...
7881,Zimbabwe,2015,NaN,2509.008140
7882,Zimbabwe,1993,NaN,2572.870395
7883,Zimbabwe,1992,NaN,2591.007534
7884,Zimbabwe,1991,NaN,2906.272849
7885,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [55]:
gdp_and_internet_use.shape

(7886, 4)

In [58]:
gdp_and_internet_use.head(5)

       Country  Year  internet_Per_Capita  GDP_Per_Capita
0  Afghanistan  2014             6.390000     1795.735834
1  Afghanistan  2013             5.900000     1807.762344
2  Afghanistan  2012             5.454545     1772.764974
3  Afghanistan  2011             5.000000     1626.764793
4  Afghanistan  2010             4.000000     1671.581238

In [60]:
gdp_and_internet_use.tail(5)

,Country,Year,internet_Per_Capita,GDP_Per_Capita
7881,Zimbabwe,2015,NaN,2509.008140
7882,Zimbabwe,1993,NaN,2572.870395
7883,Zimbabwe,1992,NaN,2591.007534
7884,Zimbabwe,1991,NaN,2906.272849
7885,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [61]:
gdp_and_internet_use=gdp_and_internet_use.loc[gdp_and_internet_use['Year'].isin(['2004','2009','2014'])]
gdp_and_internet_use.head()

        Country  Year  internet_Per_Capita  GDP_Per_Capita
0   Afghanistan  2014             6.390000     1795.735834
5   Afghanistan  2009             3.550000     1502.354073
10  Afghanistan  2004             0.105809     1025.208245
15      Albania  2014            60.100000    10700.993216
20      Albania  2009            41.200000     9525.377979

In [93]:
#gdp_internet_use[2014.max(by='Internet_Users_Pct', ascending = False)]

In [74]:
#gdp_and_internet_use = gdp_and_internet_use.loc[gdp_and_internet_use['Year'].isin(['2004', '2009', '2014'])]

In [75]:
years_subset = gdp_and_internet_use[(gdp_and_internet_use['Year'] == '2004') | (gdp_and_internet_use['Year'] == '2009') | (gdp_and_internet_use['Year'] == '2014')]
years_subset.head()

        Country  Year  internet_Per_Capita  GDP_Per_Capita
0   Afghanistan  2014             6.390000     1795.735834
5   Afghanistan  2009             3.550000     1502.354073
10  Afghanistan  2004             0.105809     1025.208245
15      Albania  2014            60.100000    10700.993216
20      Albania  2009            41.200000     9525.377979

In [92]:
#gdp_and_internet_use_2004 = gdp_and_internet_use_sub[gdp_and_internet_use_sub['Year'] == 2004]
#gdp_and_internet_use_2009 = gdp_and_internet_use_sub[gdp_and_internet_use_sub['Year'] == 2009]
#gdp_and_internet_use_2014 = gdp_and_internet_use_sub[gdp_and_internet_use_sub['Year'] == 2014]

In [91]:
#gdp_internet_2014[gdp_internet_2014['Internet_Users_Pct']==gdp_internet_2014['Internet_Users_Pct'].max()]

In [82]:
#gdp_and_internet_use_2014.loc[gdp_and_internet_use_2014['internet_users_pct'].idxmax()]

In [90]:
#plt.scatter(gdp_int_2004.Internet_Users_Pct, gdp_int_2004.GDP_Per_Capita)
#plt.xlabel("Internet Users %")
#plt.ylabel("GDP Per Capita")
#plt.title("Countries in 2004")

In [89]:
#plt.scatter(x = 'Internet_Users_Pct', y = 'GDP_Per_Capita', data = gdp_and_int_2004)
#plt.xlabel('Internet Use')
#plt.ylabel('GDP Per Capita');

In [95]:
#sns.distplot(gdp_int_14['GDP_Per_Capita'])
#plt.xlabel('GDP Per Capita');

In [87]:
#hist = gdp_internet_2014.GDP_Per_Capita.hist(bins = 10)
#plt.xlabel('GDP Per Capita')
#plt.ylabel('# of Countries')
#plt.title('2014 Distribution of GDP Per Capita');

In [101]:
#gdp_internet_2014.nlargest(5, 'Internet_Users_Pct')

In [98]:
top_5_internet = gdp_and_internet_use_subset.loc[(gdp_and_internet_use_subset['Country'] == 'Iceland') |
                                                (gdp_and_internet_use_subset['Country'] == 'Bermuda') |
                                                (gdp_and_internet_use_subset['Country'] == 'Norway') |
                                                (gdp_and_internet_use_subset['Country'] == 'Denmark') | 
    top_5_internet = gdp_and_internet_use_subset.loc[(gdp_and_internet_use_subset['Country'] == 'Iceland') |
                                                (gdp_and_internet_use_subset['Country'] == 'Bermuda') |
                                                (gdp_and_internet_use_subset['Country'] == 'Norway') |
                                                (gdp_and_internet_use_subset['Country'] == 'Denmark') | 
                                                (gdp_and_internet_use_subset['Country'] == 'Andorra')]
top_5_internet.shape

SyntaxError: invalid syntax (<ipython-input-98-8b230e7c8261>, line 5)

In [100]:
#top_5 = ['Iceland', 'Bermuda', 'Denmark', 'Norway', 'Andorra']
#top_5_internet = gdp_and_internet_subset.query('Country in @top_5')
#top_5_internet.shape

In [102]:
top_5_internet = pd.concat([top_int_2004, top_int_2009, top_int_2014])
top_5_internet=top_5_internet.reset_index(drop=True)
top_5_internet.shape

NameError: name 'top_int_2004' is not defined

In [105]:
#top_5_countries = gdp_and_internet_use_2014.sort_values(‘Internet_Users_Pct’, ascending = False).head()[‘Country’]

In [106]:
#top_5_internet = gdp_and_internet_use_sub[gdp_and_internet_use_sub[‘Country’].isin(top_5_countries)]

In [108]:
#top_5_int_sort = top_5_internet.sort_values('year', ascending=True).reset_index()
#top_5_graph = sns.FacetGrid(top_5_int_sort, col='country')
#top_5_graph.map(sns.scatterplot, 'year', 'internet_users_pct')

In [110]:
#top_5_int_sort = top_5_internet.sort_values('year', ascending=True).reset_index()

#top_5_graph = sns.FacetGrid(top_5_int_sort, col='country')
#top_5_graph.map(sns.scatterplot, 'year', 'internet_users_pct')

In [111]:
#map1 = sns.FacetGrid(top_5_1494, col = 'Country')
#map1.map(sns.barplot, "Year", "Internet_Users_Pct")

NameError: name 'top_5_1494' is not defined